<!-- HTML FILE STORE CONDITIONS FOR THE PROCESSING OF PERSONAL DATA -->

<h1>Warunki przetwarzania danych osobowych</h1>
<ol>
    <li>
        <h2>Administrator danych osobowych</h2>
        <p>Administratorem danych osobowych jest <b>AKADEMIA MARYNARKI WOJENNEJ IM.BOHATERÓW WESTERPLATTE</b>, 
            z siedzibą w <b>ul. inż. J. Śmidowicza 69, 81-127 Gdynia</b>, NIP: <b>5860104693</b>, REGON: <b>190064136</b>. 
            Kontakt z administratorem jest możliwy pod adresem e-mail: <b>m.drygas&#64;amw.gdynia.pl</b> oraz numerem telefonu: <b>+48 261262749</b>.</p>
    </li>
    <li>
        <h2>Cele i podstawy prawne przetwarzania danych</h2>
        <p>
            Dane osobowe przetwarzane są w następujących celach:
        </p>
        <ul>
            <li>
                realizacji usług świadczonych przez administratora (art. 6 ust. 1 lit. b RODO),
            </li>
            <li>
                obsługi zapytań i kontaktu z użytkownikami (art. 6 ust. 1 lit. f RODO),
            </li>
            <li>
                realizacji obowiązków prawnych (art. 6 ust. 1 lit. c RODO),
            </li>
            <li>
                prowadzenia działań marketingowych (art. 6 ust. 1 lit. a RODO – zgoda użytkownika).
            </li>
        </ul>
    </li>
    <li>
        <h2>Odbiorcy danych osobowych</h2>
        <p>
            Dane mogą być udostępniane podmiotom przetwarzającym je na zlecenie administratora, 
            np. dostawcom usług IT, firmom księgowym, podmiotom świadczącym usługi marketingowe. 
            Dane nie są przekazywane do państw trzecich ani organizacji międzynarodowych.
        </p>
    </li>
    <li>
        <h2>Okres przechowywania danych</h2>
        <p>
            Dane przechowywane są przez okres niezbędny do realizacji celów, 
            dla których zostały zebrane, a następnie przez czas wymagany przepisami prawa 
            lub do momentu cofnięcia zgody przez użytkownika.
        </p>
    </li>
    <li>
        <h2>Prawa użytkownika</h2>
        <p>Osoba, której dane dotyczą, ma prawo do:</p>
        <ul>
            <li>
                dostępu do swoich danych,
            </li>
            <li>
                sprostowania danych,
            </li>
            <li>
                usunięcia danych („prawo do bycia zapomnianym”),
            </li>
            <li>
                ograniczenia przetwarzania,
            </li>
            <li>
                rzenoszenia danych,
            </li>
            <li>
                wniesienia sprzeciwu wobec przetwarzania,
            </li>
            <li>
                cofnięcia zgody na przetwarzanie w dowolnym momencie (jeśli przetwarzanie odbywa się na podstawie zgody).
                Aby skorzystać z praw, należy skontaktować się z administratorem.
            </li>
        </ul>
    </li>
    <li>
        <h2>Prawo do wniesienia skargi</h2>
        <p>
            Użytkownik ma prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych (PUODO), jeśli uzna, że przetwarzanie danych narusza przepisy RODO.
        </p>
    </li>
    <li>
        <h2>Informacja o dobrowolności podania danych</h2>
        <p>
            Podanie danych osobowych jest dobrowolne, ale niezbędne do realizacji określonych usług.
        </p>
    </li>
    <li>
        <h2>Zmiany w polityce przetwarzania danych</h2>
        <p>
            Administrator zastrzega sobie prawo do wprowadzania zmian w niniejszym dokumencie. Zmiany będą publikowane na stronie internetowej.
        </p>
    </li>
</ol>
<p><b>W przypadku pytań dotyczących przetwarzania danych osobowych, prosimy o kontakt pod adresem e-mail: iod&#64;amw.gdynia.pl.</b></p>
