<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Panel administracyjny testu predyspozycji AMW</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <section class="menu">
            <ul>
                <li><a [routerLink]="['/admin/pytania']" routerLinkActive="active">Pytania</a></li>
                <li><a [routerLink]="['/admin/kierunki']" routerLinkActive="active">Kierunki</a></li>
                <li><a [routerLink]="['/admin/kandydaci']" routerLinkActive="active">Kandydaci</a></li>
                <li><a [routerLink]="['/admin/konto']" routerLinkActive="active">Ustawienia</a></li>
            </ul>
        </section>
        <section class="view">
            <router-outlet></router-outlet>
        </section>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <span (click)="onLogout()">Wyloguj</span><a href="/">Strona główna</a>
    </mat-card-actions>
</mat-card>
