<!-- HTML FILE CONTAINS MAIN PAGE VIEW -->

<mat-card>
    <mat-card-header>
        <mat-card-title><h1>Odkryj swoją przyszłość na Akademii Marynarki Wojennej w Gdyni!</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Zastanawiasz się, jaki kierunek studiów najlepiej odpowiada Twoim zainteresowaniom i predyspozycjom? Rozpocznij swoją podróż ku spełnionej karierze od prostego kroku – wykonaj nasz Test Predyspozycji!
        <ul>
            <b>Dlaczego warto?</b>
            <li>
                <b>Poznaj swoje mocne strony</b> – Dowiedz się, w czym jesteś naprawdę dobry i jakie talenty możesz rozwijać.
            </li>
            <li>
                <b>Znajdź idealny kierunek</b> – Sprawdź, który z naszych prestiżowych kierunków na Akademii Marynarki Wojennej najlepiej pasuje do Twojej osobowości.
            </li>
            <li>
                <b>Podejmij świadomą decyzję</b> – Otrzymaj rekomendacje dopasowane do Twoich ambicji i planów zawodowych.
            </li>
        </ul>
        <b>Dołącz do grona najlepszych!</b><br>
        Akademia Marynarki Wojennej to miejsce, gdzie pasja spotyka się z profesjonalizmem. Oferujemy kierunki, które otwierają drzwi do fascynujących ścieżek kariery – zarówno na lądzie, jak i na morzu.

        Nie pozwól, by przypadek decydował o Twojej przyszłości. Podejmij świadomą decyzję i postaw pierwszy krok na drodze do realizacji swoich marzeń.
        <h2>Rozpocznij test już teraz i odkryj swój potencjał!</h2>
        <button mat-button class="start" (click)="startTest()">Rozwiąż test predyspozycji</button>
    </mat-card-content>
</mat-card>
